{%extends "layout.html"%}
{%block content%}
    <div class="about">
        <body>
            <h1>My about page</h1>
            <p>This is a test website</p>
        </body>
    </div>
{%endblock%}