{%extends "layout.html"%}
{%block content%}
    <div class="home">
        <body>
            <h1>My homepage</h1>
            <p>This is a test website again</p>
        </body>
    </div>
{%endblock%}