<!DOCTYPE html>
    <head>
        <title>New App</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    </head>
    <html>
        <body>
            <header>
                <div class="container">
                    <h1 class="logo">Team Ally's Web app</h1>
                    <strong><nav>
                        <u1 class="menu">
                            <!––# This calls function() for each URL-->
                            <li><a href="{{ url_for('home') }}">Home</a></li>
                            <li><a href="{{ url_for('about') }}">About</a></li>
                        </u1>
                    </nav></strong>
                </div>
            </header>
        <div class="container">
            <!––# adding block template inheritance-->
            {%block content%}
            {%endblock%}
        </div>
        </body>
    </html>